<% ml = Ml.new %>
<style type="text/css">
.eachfriend{
float:left;
width:150px;
text-align:center;
}
</style>
<br>
<h4>每邀请一个好友，并且该好友成功安装该应用，你可以获得1000金币和1个海盗币</h4>
<div style="border:#d8dfea 5px solid;">
<strong>邀请</strong><br>
<my:request-form method="POST" 
type='海盗时代' invite="true" 
content="很好玩的海盗游戏哦<my:req-choice url='#{manyou_session.perfix}userapp.php?id=1007758' label='我愿意'>"  
id="myformb" invite="true" action="home/invite">
<my:multi-friend-selector actiontext="邀请好友加海盗时代" showborder="false" rows="4" max="20">
</my:request-form>
</div>